body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

ul img {
  height: 50px;
  width: 80px;
  float: left;
}

p {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="month"],
.search-container1 input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

button[type="submit"],
.search-container1 button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"] {
  background-color: #044204;
  color: white;
}

button[type="submit"]:hover,
.search-container1 button:hover {
  background-color: #51ac37;
}

#search-section1 {
  display:flex;
  justify-content:center;
  align-items:center;
}


.search-container1 {
  display: flex;
    align-items: center;
    width: 25%;
    height:15px;
    background-color: #51ac37;
    padding: 8px;
    border-radius: 35px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  

  .search-container1 input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 6px;
    margin-top: 13px;
   

  }
  
  .search-container1 input  {
    color: rgb(0, 0, 0);
   
  }

  ::placeholder {
    color: rgb(255, 255, 255);
   
  }
  
  
  .search-container1 button {
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  

  .search-container1 ,a .fas{
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
