@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;

}



.fruits h1{
    text-align: center;
    font-size: xx-large;
}

.vegetables h1{
    text-align: center;
    font-size: xx-large;
}

/* Ensure container has a consistent layout */
.item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    padding: 20px;
}



/* Style each item in the grid */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Make images uniform in size */
.item img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* ensures the image covers the area without distortion */
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Adjust input and button spacing */
.item input, .item button {
    margin-top: 10px;
}

/* Specific styles for buttons */
.item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 35px;
}

/* Add some spacing and styling to item containers */
.item p, .item h2 {
    margin: 5px 0;
    font-style: normal;
    font-weight: 300;
}


@media screen and (max-width: 1000px) {
    .item-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Adjust for full-width columns */
    }
}

#cart-table{
    font-family: sans-serif;
    width:100%;
    border:1px solid darkgreen;
    border-collapse: collapse;    
}

#cart-table th{
    background-color:darkgreen;
    color:#fff;        
    border:1px solid #ccc;
    padding:6px 12px;

}

#cart-table td{
    border:1px solid darkgreen;
    padding:6px 12px;
}
#cart-table td:last-child{
    text-align: center;
}

#cart-table td button{
    visibility: visible;
    border:none;
    height:40px;
    width:100px;
    padding:3px;
    color:#fff;
    background-color:olivedrab;
}

.cart-table td.cart_total_cell {
    visibility: hidden;
}

#save-favorite , #apply-favorite, #buy-now{
    background-color: #4CAF50;
    font-size: large;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    
}


#c-text h2{
    text-align: center;
    font-size: xx-large;
    text-decoration: solid;
}