@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}


.product-container {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}


.box {
    max-width: 100%;
    border: 10px solid #044204;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1;
}

/* Responsive image inside box */
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.box p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: large;
    font-family: 'Kanit' ,sans-serif;
}


.read-more-btn {
    background-color: #51ac37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* Media query for smaller screens */
@media (max-width: 500px) {
    .product-container {
        flex-direction: column;
        height: 100%;
    }
}
